dmx_rgb/SERVER/Neues Textdokument.txt
[{"id":"30279eb.ed3a962","type":"tab","label":"Things","disabled":false,"info":""},{"id":"e0e01e72.c1f248","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c0b95fab.7d2898","type":"ui_tab","z":"","name":"Lichter","icon":"dashboard","order":1},{"id":"c0177585.dc5d1","type":"ui_group","z":"","name":"Flur Oben","tab":"c0b95fab.7d2898","order":1,"disp":true,"width":"6","collapse":false},{"id":"4305e8c1.ca2e4","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23f7ac64.69bc8c","type":"ui_switch","z":"30279eb.ed3a962","name":"Schalter","label":"Schalter","group":"c0177585.dc5d1","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":20,"wires":[["b859baa4.9f00f8"]]},{"id":"4628fbc5.6ddbf4","type":"mqtt out","z":"30279eb.ed3a962","name":"","topic":"FlurLicht","qos":"","retain":"","broker":"4305e8c1.ca2e4","x":540,"y":20,"wires":[]},{"id":"66552390.a1ed14","type":"ui_slider","z":"30279eb.ed3a962","name":"","label":"Rot","group":"c0177585.dc5d1","order":0,"width":0,"height":0,"passthru":true,"topic":"red","min":0,"max":"255","step":1,"x":70,"y":80,"wires":[["b859baa4.9f00f8"]]},{"id":"8fdef0de.7a9698","type":"ui_slider","z":"30279eb.ed3a962","name":"","label":"Grün","group":"c0177585.dc5d1","order":0,"width":0,"height":0,"passthru":true,"topic":"green","min":0,"max":"255","step":1,"x":70,"y":140,"wires":[["b859baa4.9f00f8"]]},{"id":"60cd5bbf.94ca14","type":"ui_slider","z":"30279eb.ed3a962","name":"","label":"Blau","group":"c0177585.dc5d1","order":0,"width":0,"height":0,"passthru":true,"topic":"blue","min":0,"max":"255","step":1,"x":70,"y":200,"wires":[["b859baa4.9f00f8"]]},{"id":"dde736f3.43dab8","type":"debug","z":"30279eb.ed3a962","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":140,"wires":[]},{"id":"928d81dd.372bf8","type":"mqtt in","z":"30279eb.ed3a962","name":"","topic":"doorbell","qos":"2","broker":"4305e8c1.ca2e4","x":140,"y":400,"wires":[["e1346691.65ae3"]]},{"id":"e1346691.65ae3","type":"json","z":"30279eb.ed3a962","name":"","property":"payload","action":"","pretty":false,"x":290,"y":400,"wires":[["706fbdba.90ef1c"]]},{"id":"706fbdba.90ef1c","type":"function","z":"30279eb.ed3a962","name":"klingel auswahl","func":"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["fd378abf.6f7f98"]]},{"id":"b859baa4.9f00f8","type":"function","z":"30279eb.ed3a962","name":"control to json","func":"switch(msg.topic){\n    case \"switch\":\n        var payload = msg.payload;\n        msg.payload = \"{\\\"switch\\\":\"+payload+\"}\";\n    break;\n    case \"red\":\n        var payload = msg.payload;\n        msg.payload = \"{\\\"red\\\":\"+payload+\"}\";\n    break;\n    case \"green\":\n        var payload = msg.payload;\n        msg.payload = \"{\\\"green\\\":\"+payload+\"}\";\n    break;\n    case \"blue\":\n        var payload = msg.payload;\n        msg.payload = \"{\\\"blue\\\":\"+payload+\"}\";\n    break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":20,"wires":[["4628fbc5.6ddbf4","a5e59d68.a5ab18"]]},{"id":"a5e59d68.a5ab18","type":"json","z":"30279eb.ed3a962","name":"","property":"payload","action":"","pretty":true,"x":530,"y":140,"wires":[["dde736f3.43dab8"]]},{"id":"fd378abf.6f7f98","type":"exec","z":"30279eb.ed3a962","command":"mpg123 /home/pi/door.mp3","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":760,"y":400,"wires":[[],[],[]]}]